"""
## Ejercicio básico de NumPy y Pandas
# ================================

 Este ejercicio abarca las operaciones fundamentales de NumPy y Pandas:
 - Creación de matrices y DataFrames
 - Segmentación e indexación
 - Operaciones matemáticas básicas (producto escalar)
 - Adición/eliminación de columnas y filas

In [1]:
# Import the necessary libraries
import numpy as np
import pandas as pd

In [2]:

# PART 1: NUMPY BASICS
# ===================

def numpy_basics():
    """
    Demonstrate basic NumPy operations including array creation,
    slicing, and mathematical operations.
    """
    print("=" * 50)
    print("NUMPY BASICS")
    print("=" * 50)

    # Creating NumPy arrays
    print("\n1. Creating NumPy arrays:")

    # From a list
    array1 = np.array([1, 2, 3, 4, 5])
    print("Array from list:", array1)

    # Using NumPy functions
    array2 = np.zeros(5)
    print("Array of zeros:", array2)

    array3 = np.ones(5)
    print("Array of ones:", array3)

    array4 = np.arange(0, 10, 2)
    print("Array with range:", array4)

    # Creating 2D arrays
    array5 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    print("\nA 2D array:")
    print(array5)

    # Slicing arrays
    print("\n2. Slicing arrays:")

    # 1D array slicing
    print("First 3 elements:", array1[:3])
    print("Last 2 elements:", array1[-2:])
    print("Elements from index 1 to 3:", array1[1:4])

    # 2D array slicing
    print("\nFirst row of 2D array:", array5[0])
    print("First column of 2D array:", array5[:, 0])
    print("Subarray (first 2 rows, first 2 columns):")
    print(array5[:2, :2])

    # Basic mathematical operations
    print("\n3. Basic mathematical operations:")

    array6 = np.array([10, 20, 30, 40, 50])

    # Element-wise operations
    print("array1 + 5:", array1 + 5)
    print("array1 * 2:", array1 * 2)
    print("array1 + array6:", array1 + array6)
    print("array1 * array6:", array1 * array6)

    # Dot product
    dot_product = np.dot(array1, array6)
    print("\nDot product of array1 and array6:", dot_product)

    # Matrix multiplication
    matrix1 = np.array([[1, 2], [3, 4]])
    matrix2 = np.array([[5, 6], [7, 8]])

    matrix_product = np.dot(matrix1, matrix2)
    print("\nMatrix multiplication result:")
    print(matrix_product)

    # Statistical operations
    print("\n4. Statistical operations:")
    print("Mean of array1:", np.mean(array1))
    print("Sum of array1:", np.sum(array1))
    print("Max of array1:", np.max(array1))
    print("Min of array1:", np.min(array1))
    print("Standard deviation of array1:", np.std(array1))

In [3]:


# PART 2: PANDAS BASICS
# ====================

def pandas_basics():
    """
    Demonstrate basic pandas operations including DataFrame creation,
    selection, adding/removing columns and rows.
    """
    print("\n" + "=" * 50)
    print("PANDAS BASICS")
    print("=" * 50)

    # Creating a DataFrame
    print("\n1. Creating a DataFrame:")

    # From a dictionary
    data = {
        'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
        'Salary': [50000, 60000, 70000, 80000, 90000]
    }

    df = pd.DataFrame(data)
    print(df)

    # Basic DataFrame information
    print("\n2. Basic DataFrame information:")
    print("DataFrame shape:", df.shape)
    print("DataFrame columns:", df.columns.tolist())
    print("DataFrame data types:")
    print(df.dtypes)

    # Accessing DataFrame elements
    print("\n3. Accessing DataFrame elements:")

    # Selecting columns
    print("\nSelecting the 'Name' column:")
    print(df['Name'])

    # Selecting multiple columns
    print("\nSelecting 'Name' and 'Age' columns:")
    print(df[['Name', 'Age']])

    # Selecting rows using loc (label-based)
    print("\nSelecting row with index 2 using loc:")
    print(df.loc[2])

    # Selecting rows using iloc (position-based)
    print("\nSelecting first 3 rows using iloc:")
    print(df.iloc[:3])

    # Selecting rows and columns
    print("\nSelecting specific rows and columns:")
    print(df.loc[1:3, ['Name', 'Salary']])

    # Filtering data
    print("\n4. Filtering data:")

    # Filter by condition
    print("\nPeople with age > 30:")
    print(df[df['Age'] > 30])

    print("\nPeople from New York or Chicago:")
    print(df[df['City'].isin(['New York', 'Chicago'])])

    # Adding and removing columns
    print("\n5. Adding and removing columns:")

    # Add a new column
    df['Department'] = ['HR', 'IT', 'Finance', 'Marketing', 'Sales']
    print("\nAfter adding 'Department' column:")
    print(df)

    # Add a calculated column
    df['Salary After Tax'] = df['Salary'] * 0.7
    print("\nAfter adding 'Salary After Tax' column:")
    print(df)

    # Remove a column
    df_without_age = df.drop('Age', axis=1)
    print("\nAfter removing 'Age' column:")
    print(df_without_age)

    # Note: original df is unchanged
    print("\nOriginal df still has 'Age' column:")
    print(df.columns.tolist())

    # Remove columns in place
    df.drop('Salary After Tax', axis=1, inplace=True)
    print("\nAfter removing 'Salary After Tax' column in place:")
    print(df)

    # Adding and removing rows
    print("\n6. Adding and removing rows:")

    # Add a new row
    new_row = pd.DataFrame({
        'Name': ['Frank'],
        'Age': [50],
        'City': ['Miami'],
        'Salary': [100000],
        'Department': ['IT']
    })

    df = pd.concat([df, new_row], ignore_index=True)
    print("\nAfter adding a new row:")
    print(df)

    # Remove a row by index
    df.drop(1, inplace=True)
    print("\nAfter removing row with index 1:")
    print(df)

    # Reset index
    df = df.reset_index(drop=True)
    print("\nAfter resetting index:")
    print(df)

    # Basic data analysis
    print("\n7. Basic data analysis:")

    # Group by and aggregate
    print("\nAverage salary by department:")
    print(df.groupby('Department')['Salary'].mean())

    # Summary statistics
    print("\nSummary statistics for numeric columns:")
    print(df.describe())

In [4]:



# PART 3: COMBINING NUMPY AND PANDAS
# =================================

def combining_numpy_pandas():
    """
    Demonstrate how to use NumPy operations on pandas DataFrames.
    """
    print("\n" + "=" * 50)
    print("COMBINING NUMPY AND PANDAS")
    print("=" * 50)

    # Create a DataFrame with numeric data
    data = {
        'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50],
        'C': [100, 200, 300, 400, 500]
    }

    df = pd.DataFrame(data)
    print("\nOriginal DataFrame:")
    print(df)

    # Convert DataFrame to NumPy array
    array = df.to_numpy()
    print("\nConverted to NumPy array:")
    print(array)

    # Apply NumPy functions to DataFrame
    print("\nApplying NumPy functions to DataFrame:")
    print("Sum of all elements:", np.sum(df))
    print("Column-wise mean:", np.mean(df, axis=0))
    print("Row-wise mean:", np.mean(df, axis=1))

    # Adding a column with NumPy operations
    df['D'] = np.sqrt(df['A']) * df['B']
    print("\nAfter adding column 'D' using NumPy operations:")
    print(df)

    # Dot product of two columns
    dot_product = np.dot(df['A'], df['B'])
    print("\nDot product of columns 'A' and 'B':", dot_product)

    # Matrix operations
    # For this example, we'll use the first 3x3 part of our DataFrame
    submatrix = df.iloc[:3, :3].to_numpy()
    print("\nSubmatrix (3x3):")
    print(submatrix)

    # Calculate determinant
    determinant = np.linalg.det(submatrix)
    print("\nDeterminant of the submatrix:", determinant)

    # Calculate inverse (if possible)
    try:
        inverse = np.linalg.inv(submatrix)
        print("\nInverse of the submatrix:")
        print(inverse)
    except np.linalg.LinAlgError:
        print("\nThe submatrix is not invertible.")


# Run all the examples
if __name__ == "__main__":
    numpy_basics()
    pandas_basics()
    combining_numpy_pandas()

==================================================
NUMPY BASICS
==================================================

1. Creating NumPy arrays:
Array from list: [1 2 3 4 5]
Array of zeros: [0. 0. 0. 0. 0.]
Array of ones: [1. 1. 1. 1. 1.]
Array with range: [0 2 4 6 8]

A 2D array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

2. Slicing arrays:
First 3 elements: [1 2 3]
Last 2 elements: [4 5]
Elements from index 1 to 3: [2 3 4]

First row of 2D array: [1 2 3]
First column of 2D array: [1 4 7]
Subarray (first 2 rows, first 2 columns):
[[1 2]
 [4 5]]

3. Basic mathematical operations:
array1 + 5: [ 6  7  8  9 10]
array1 * 2: [ 2  4  6  8 10]
array1 + array6: [11 22 33 44 55]
array1 * array6: [ 10  40  90 160 250]

Dot product of array1 and array6: 550

Matrix multiplication result:
[[19 22]
 [43 50]]

4. Statistical operations:
Mean of array1: 3.0
Sum of array1: 15
Max of array1: 5
Min of array1: 1
Standard deviation of array1: 1.4142135623730951

==================================================
PANDAS BASICS
==================================================

1. Creating a DataFrame:
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

2. Basic DataFrame information:
DataFrame shape: (5, 4)
DataFrame columns: ['Name', 'Age', 'City', 'Salary']
DataFrame data types:
Name      object
Age        int64
City      object
Salary     int64
dtype: object

3. Accessing DataFrame elements:

Selecting the 'Name' column:
0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object

Selecting 'Name' and 'Age' columns:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

Selecting row with index 2 using loc:
Name      Charlie
Age            35
City      Chicago
Salary      70000
Name: 2, dtype: object

Selecting first 3 rows using iloc:
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

Selecting specific rows and columns:
      Name  Salary
1      Bob   60000
2  Charlie   70000
3    David   80000

4. Filtering data:

People with age > 30:
      Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000
4      Eve   45  Phoenix   90000

People from New York or Chicago:
      Name  Age      City  Salary
0    Alice   25  New York   50000
2  Charlie   35   Chicago   70000

5. Adding and removing columns:

After adding 'Department' column:
      Name  Age         City  Salary Department
0    Alice   25     New York   50000         HR
1      Bob   30  Los Angeles   60000         IT
2  Charlie   35      Chicago   70000    Finance
3    David   40      Houston   80000  Marketing
4      Eve   45      Phoenix   90000      Sales

After adding 'Salary After Tax' column:
      Name  Age         City  Salary Department  Salary After Tax
0    Alice   25     New York   50000         HR           35000.0
1      Bob   30  Los Angeles   60000         IT           42000.0
2  Charlie   35      Chicago   70000    Finance           49000.0
3    David   40      Houston   80000  Marketing           56000.0
4      Eve   45      Phoenix   90000      Sales           63000.0

After removing 'Age' column:
      Name         City  Salary Department  Salary After Tax
0    Alice     New York   50000         HR           35000.0
1      Bob  Los Angeles   60000         IT           42000.0
2  Charlie      Chicago   70000    Finance           49000.0
3    David      Houston   80000  Marketing           56000.0
4      Eve      Phoenix   90000      Sales           63000.0

Original df still has 'Age' column:
['Name', 'Age', 'City', 'Salary', 'Department', 'Salary After Tax']

After removing 'Salary After Tax' column in place:
      Name  Age         City  Salary Department
0    Alice   25     New York   50000         HR
1      Bob   30  Los Angeles   60000         IT
2  Charlie   35      Chicago   70000    Finance
3    David   40      Houston   80000  Marketing
4      Eve   45      Phoenix   90000      Sales

6. Adding and removing rows:

After adding a new row:
      Name  Age         City  Salary Department
0    Alice   25     New York   50000         HR
1      Bob   30  Los Angeles   60000         IT
2  Charlie   35      Chicago   70000    Finance
3    David   40      Houston   80000  Marketing
4      Eve   45      Phoenix   90000      Sales
5    Frank   50        Miami  100000         IT

After removing row with index 1:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         HR
2  Charlie   35   Chicago   70000    Finance
3    David   40   Houston   80000  Marketing
4      Eve   45   Phoenix   90000      Sales
5    Frank   50     Miami  100000         IT

After resetting index:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         HR
1  Charlie   35   Chicago   70000    Finance
2    David   40   Houston   80000  Marketing
3      Eve   45   Phoenix   90000      Sales
4    Frank   50     Miami  100000         IT

7. Basic data analysis:

Average salary by department:
Department
Finance       70000.0
HR            50000.0
IT           100000.0
Marketing     80000.0
Sales         90000.0
Name: Salary, dtype: float64

Summary statistics for numeric columns:
             Age         Salary
count   5.000000       5.000000
mean   39.000000   78000.000000
std     9.617692   19235.384062
min    25.000000   50000.000000
25%    35.000000   70000.000000
50%    40.000000   80000.000000
75%    45.000000   90000.000000
max    50.000000  100000.000000

==================================================
COMBINING NUMPY AND PANDAS
==================================================

Original DataFrame:
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

Converted to NumPy array:
[[  1  10 100]
 [  2  20 200]
 [  3  30 300]
 [  4  40 400]
 [  5  50 500]]

Applying NumPy functions to DataFrame:
Sum of all elements: A      15
B     150
C    1500
dtype: int64
Column-wise mean: A      3.0
B     30.0
C    300.0
dtype: float64
Row-wise mean: 0     37.0
1     74.0
2    111.0
3    148.0
4    185.0
dtype: float64

After adding column 'D' using NumPy operations:
   A   B    C           D
0  1  10  100   10.000000
1  2  20  200   28.284271
2  3  30  300   51.961524
3  4  40  400   80.000000
4  5  50  500  111.803399

Dot product of columns 'A' and 'B': 550

Submatrix (3x3):
[[  1  10 100]
 [  2  20 200]
 [  3  30 300]]

Determinant of the submatrix: 0.0

The submatrix is not invertible.

/home/jresendiz/miniconda3/envs/CIC_AIDiploma2025/lib/python3.12/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

## Ejercicios para los alumnos


1. Ejercicios de NumPy:
- Crear una matriz de 4x4 con números aleatorios
- Crear una matriz identidad
- Hacer el producto punto de arreglos

2. Ejercicios de Pandas:
- Crear un DataFrame con datos de 10 estudiantes (nombre, edad, curso, asignatura)
- Añadir una nueva columna que indique si el estudiante aprobó (calificación > 60) (al menos el 80% de la clase debió aprobar)
- Eliminar a todos los estudiantes reprobados


3. Ejercicios combinados:
- Convertir el DataFrame del estudiante en un array de NumPy
- Convertir la columna de "edad" en un arreglo de numpy
- Convertir la columna de "calificación" en un arreglo de numpy
- Realizar un producto punto entre dos columnas numéricas

In [11]:
import numpy as np
import pandas as pd

print("=" * 50)
print("Ex1")
print("=" * 50)

rand_matrix = np.random.rand(4, 4)
print(f"Rand Matrix: {rand_matrix}")
eye_matrix = np.eye(4)
print(f"Eye Matrix {eye_matrix}")
dot_array = np.dot(rand_matrix, eye_matrix)
print(f"Dot Product: {dot_array}")

==================================================
Ex1
==================================================
Rand Matrix: [[0.89787363 0.40521177 0.81453239 0.30420148]
 [0.74435711 0.54712538 0.65063727 0.3849547 ]
 [0.72002961 0.49363874 0.48239814 0.68110733]
 [0.38462877 0.44545028 0.16660019 0.71573291]]
Eye Matrix [[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
Dot Product: [[0.89787363 0.40521177 0.81453239 0.30420148]
 [0.74435711 0.54712538 0.65063727 0.3849547 ]
 [0.72002961 0.49363874 0.48239814 0.68110733]
 [0.38462877 0.44545028 0.16660019 0.71573291]]

In [16]:
"""
2. Ejercicios de Pandas:
- Crear un DataFrame con datos de 10 estudiantes (nombre, edad, curso, asignatura)
- Añadir una nueva columna que indique si el estudiante aprobó (calificación > 60) (al menos el 80% de la clase debió aprobar)
- Eliminar a todos los estudiantes reprobados
"""
import random

print("=" * 50)
print("Ex2")
print("=" * 50)

data = {
    'nombre': [
        'Ana', 'Luis', 'María', 'Carlos', 'Elena',
        'Jorge', 'Lucía', 'Pedro', 'Valeria', 'Diego'
    ],
    'edad': [random.randrange(16, 18) for _ in range(10)],
    'curso': [
        '3°B', '3°A', '3°B', '3°A', '3°B',
        '3°C', '3°A', '3°C', '3°B', '3°C'
    ],
    'asignatura': [
        'Matemáticas', 'Historia', 'Física', 'Química', 'Literatura',
        'Biología', 'Inglés', 'Filosofía', 'Arte', 'Geografía'
    ]
}
df = pd.DataFrame(data)
df['calificacion'] = [random.randrange(1, 101) for _ in range(len(df))]
df['passed'] = [score > 80 for score in df['calificacion']]
print(f"Current DataFrame:\n {df}")
updated_df = df[(df['passed'] == True)]
print(f"Updated DataFrame:\n {updated_df}")

Current DataFrame:
     nombre  edad curso   asignatura  calificacion  passed
0      Ana    16   3°B  Matemáticas            73   False
1     Luis    16   3°A     Historia            32   False
2    María    16   3°B       Física            90    True
3   Carlos    17   3°A      Química            20   False
4    Elena    16   3°B   Literatura             9   False
5    Jorge    16   3°C     Biología             3   False
6    Lucía    16   3°A       Inglés            58   False
7    Pedro    16   3°C    Filosofía            42   False
8  Valeria    17   3°B         Arte             1   False
9    Diego    16   3°C    Geografía            96    True
Updated DataFrame:
   nombre  edad curso asignatura  calificacion  passed
2  María    16   3°B     Física            90    True
9  Diego    16   3°C  Geografía            96    True

In [18]:
"""
3. Ejercicios combinados:
- Convertir el DataFrame del estudiante en un array de NumPy
- Convertir la columna de "edad" en un arreglo de numpy
- Convertir la columna de "calificación" en un arreglo de numpy
- Realizar un producto punto entre dos columnas numéricas
"""

print("=" * 50)
print("Ex3")
print("=" * 50)

students_array = df.to_numpy()
print("Students Array:", students_array)

age_array = df['edad'].to_numpy()
print("Age Array:", age_array)

scores_array = df['calificacion'].to_numpy()
print("Scores Array:", scores_array)

dot_product = np.dot(scores_array, age_array)
print("Dot product:", dot_product)

==================================================
Ex3
==================================================
Students Array: [['Ana' 16 '3°B' 'Matemáticas' 73 False]
 ['Luis' 16 '3°A' 'Historia' 32 False]
 ['María' 16 '3°B' 'Física' 90 True]
 ['Carlos' 17 '3°A' 'Química' 20 False]
 ['Elena' 16 '3°B' 'Literatura' 9 False]
 ['Jorge' 16 '3°C' 'Biología' 3 False]
 ['Lucía' 16 '3°A' 'Inglés' 58 False]
 ['Pedro' 16 '3°C' 'Filosofía' 42 False]
 ['Valeria' 17 '3°B' 'Arte' 1 False]
 ['Diego' 16 '3°C' 'Geografía' 96 True]]
Age Array: [16 16 16 17 16 16 16 16 17 16]
Scores Array: [73 32 90 20  9  3 58 42  1 96]
Dot product: 6805